<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">Biblioteca</div>
  </div>

  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active">Inicio</a>
    <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
    <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
    <a routerLink="/prestamos" routerLinkActive="active">Préstamos</a>
    <a routerLink="/devoluciones" routerLinkActive="active">Devoluciones</a>
    <a routerLink="/multas" routerLinkActive="active">Multas</a> <!-- 👉 Nuevo enlace -->
  </div>
  
</nav>
