<div class="prestamos-container">
    <h2>Registrar un Préstamo</h2>
  <!-- Mostrar aviso si viene de catálogo -->
<div *ngIf="tituloLibro" class="aviso-prestamo">
    <p>📚 Registrando préstamo para: <strong>{{ tituloLibro }}</strong></p>
  </div>
    <form (ngSubmit)="registrarPrestamo()" #prestamoForm="ngForm">
  
      <div class="form-group">
        <label for="matricula">Matrícula del Usuario:</label>
        <input type="text" id="matricula" name="matricula" [(ngModel)]="matricula" required>
      </div>
  
      <div class="form-group">
        <label>ISBN del libro:</label>
        <input type="text" [(ngModel)]="isbn" name="isbn" [readonly]="isbnBloqueado" required>

      </div>
  
      <button type="submit" [disabled]="!prestamoForm.valid">Registrar Préstamo</button>
    </form>
  
    <div *ngIf="mensaje" class="mensaje">
      {{ mensaje }}
    </div>
  </div>
  